<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MyDataStoreEntities" connectionString="metadata=res://*/DataStore.csdl|res://*/DataStore.ssdl|res://*/DataStore.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CHRISTOPHE-PC\SQLEXPRESS;initial catalog=MyDataStore;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    <add name="MyDataStore"
         connectionString="data source=CHRISTOPHE-PC\SQLEXPRESS;initial catalog=MyDataStore;integrated security=True;multipleactiveresultsets=True;App=EntityFramework"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>